*.o
*.a
otpe-server
otpe-client
otpe-ping
otpe-genlink
otpe-test
otpe-test-crypto
otpe-test-udp
bench-rtt
bench-throughput
!fuzz/fuzz_clienthello.c
fuzz/corpus/*
!fuzz/corpus/.gitkeep
certs/
keys/
dist/
*.pcap
.vscode/
*.swpdist/
certs/
keys/
*.bak
*.csr
*.srl
fuzz/fuzz_clienthello
